
@media screen and (min-width: 768px) {


}

/*none apply*/



.details_forecast_card.second .details_forecast_item {
  max-height:40px;
  text-overflow:ellipsis;
  word-wrap:break-word;
  display: -webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient:vertical;
  line-clamp:2;
  box-orient:vertical;
  overflow:hidden;
  align-items: center;
  justify-content: center;
  justify-items: center;
 }

 #status_title {
   width: 100%;
 }

 #status_emoji {
   width: 100%;
 }