#parti {
    margin-top: 20px;
}
@media screen and (min-width: 768px) {
    #parti {
        margin-top: 0px;
    }
    #wrapper_upper {
        /* height: 100%; */
        justify-content: center;
        /* gap: 50px; */
      }
    #wrapper_lower {
        /* height: 100%; */
        justify-content: center;
        gap: 15px;
    }
}